body {
  margin: 0;
  padding: 0;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 52%, rgba(164,0,125,1) 100%);  
}

.scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}

.scroll_to_top i {
  width: 25px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  bg-image{
    background-image: url("114992844_l-scaled.jpg");
    background-size: 100% 100%; 
  }